﻿<section class="main-container page-wrapper dark-bg">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Videos</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->

              <!-- Video start -->
              <!-- ============================================================================== -->
              <br>
              <h2>El autor de "Reinas Mecánicas" cuenta su relación con los fierros del campo</h2>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"  src="https://www.youtube-nocookie.com/embed/MIcC6VqvUEQ"></iframe>
              </div>

            </div>
            <!-- main end -->

          </div>
        </div>
      </section>