﻿ <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper dark-bg">
      <!-- header-container start -->

      <!-- header-container end -->
      <!-- banner start -->
      <!-- ================ -->
      <div id="banner" class="banner dark-translucent-bg parallax p-5" runat="server" >
        <!-- section start -->
        <!-- CREAR PARALLAX CON ESTA IMAGEN ??  -->
        <div class="container p-5">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center space-bottom">
              <div class="title large_white">Reinas Mecánicas</div>
              <div class="separator"></div>
              <h1 class="text-center lead">Jose Maria Barrale</h1>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-lg-4">
              <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg small"><i class="fa fa-heart-o"></i></span>
                <div class="body">
                  <h4 class="title">Autodidacta</h4>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                <span class="icon default-bg small"><i class="fa fa-connectdevelop"></i></span>
                <div class="body">
                  <h4 class="title">Investigador</h4>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg small"><i class="fa fa-snowflake-o"></i></span>
                <div class="body">
                  <h4 class="title">Coleccionista</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <!-- section end -->
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container" id="bookSection">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
              <div class="row">
                <div class="col-lg-6">
                  <img src="images/libro.png" alt="">   
                </div>
                <div class="col-lg-6">
                  <h2 class="mt-4">Reyes Del Surco</h2>
                  <p>Reyes del surco habla de nuestros cabezales para la cosecha de maíz.</p>
                  <div class="media">
                    <div class="d-flex pr-4">
                      <a href="#">
                        <span class="icon circle small default-bg"><i class="fa fa-eye"></i> </span>
                      </a>
                    </div>
                    <div class="media-body">

                      En este trabajo se desarrolla la historia del maíz, cómo surgieron los pioneros
                    </div>
                  </div>
                  <div class="media">
                    <div class="d-flex pr-4">
                      <a href="#">
                        <span class="icon circle small default-bg"><i class="fa fa-trophy"></i> </span>
                      </a>
                    </div>
                    <div class="media-body">

                      Cuáles fueron las primeras jornadas demostrativas de este cultivo en Argentina
                    </div>
                  </div>
                  <div class="media">
                    <div class="d-flex pr-4">
                      <a href="#">
                        <span class="icon circle small default-bg"><i class="fa fa-life-ring"></i> </span>
                      </a>
                    </div>
                    <div class="media-body">

                      El invento argentino del maicero
                    </div>
                  </div>
                  <a href="https://articulo.mercadolibre.com.ar/MLA-1103194005-reyes-del-surco-libro-jose-maria-barrale-_JM" target="_blank" class="btn btn-lg btn-default btn-animated">Comprar <i class="fa fa-cart-arrow-down pl-20"></i></a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-6 order-lg-2">
                  <img class="pv-30" src="images/libro2.png" alt="">   
                </div>
                <div class="col-lg-6 order-lg-1">
                  <h2 class="mt-4">You Will Love It!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere possimus, inventore ipsam at autem! Necessitatibus aliquam qui itaque quasi, laborum fugit? Eos minima quasi aperiam, incidunt dolores aliquid neque!</p>
                  <ul class="list-icons">
                    <li><i class="fa fa-check-square-o"></i> Duis aute irure dolor</li>
                    <li><i class="fa fa-check-square-o"></i> Dolore eu fugiat nulla</li>
                    <li><i class="fa fa-check-square-o"></i> Labore et dolore magna aliqua</li>
                    <li><i class="fa fa-check-square-o"></i> Unt in culpa qui deserunt</li>
                  </ul>
                  <p>Libero cum iusto doloribus officiis delectus alias consectetur ullam, animi totam assumenda, ad earum quis non nostrum placeat provident dolores ratione similique!</p>
                  <a href="https://articulo.mercadolibre.com.ar/MLA-1103194005-reyes-del-surco-libro-jose-maria-barrale-_JM" target="_blank" class="btn btn-lg btn-default btn-animated">Comprar <i class="fa fa-cart-arrow-down pl-20"></i></a>
                </div>
              </div>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <div class="pv-40">
        <div class="slick-carousel content-slider">
          <div>
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-8">
                  <div class="testimonial text-center">
                    <div class="testimonial-image">
                      <img src="images/testimonial-1.jpg" alt="RegionAtlantica.com" title="RegionAtlantica.com" class="rounded-circle">
                    </div>
                    <h3 class="mt-3">El impulso de una pasion y una cosecha inigualable</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>José María Barrale sigue sembrando cada día, con su empuje y su pasión para impulsar la cultura desde un lugar tan nuestro como lo es la actividad agrícola. Ojalá que pronto tanta siembra se convierta en cosecha.</p>
                      </blockquote>
                      <div class="testimonial-info-1">RegionAtlantica</div>
                      <div class="testimonial-info-2">By Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-8">
                  <div class="testimonial text-center">
                    <div class="testimonial-image">
                      <img src="images/testimonial-2.jpg" alt="Famous Person" title="Famous Person" class="rounded-circle">
                    </div>
                    <h3 class="mt-3">Amazing!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Famous Person</div>
                      <div class="testimonial-info-2">By Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="OurSection" class="container">
          <div class="clients-container">
            <div class="clients">
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
                <a href="#"><img src="images/client-1.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="200">
                <a href="#"><img src="images/client-2.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="300">
                <a href="#"><img src="images/client-3.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="400">
                <a href="#"><img src="images/client-4.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="500">
                <a href="#"><img src="images/client-5.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="600">
                <a href="#"><img src="images/client-6.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="700">
                <a href="#"><img src="images/client-7.png" alt=""></a>
              </div>
              <div class="client-image hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="800">
                <a href="#"><img src="images/client-8.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <div class="pv-40">
        <div class="container">
          <h2 class="text-center mt-4">Of Course We Also Provide</h2>
          <div class="separator"></div>
          <div class="row mt-20">
            <div class="col-lg-6">
              <div class="hc-item-box-2 right">
                <span class="icon without-bg"><i class="text-default fa fa-arrows-alt"></i></span>
                <div class="body">
                  <h4 class="title">Responsive Design</h4>
                  <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
                  <div class="separator-3"></div>
                </div>
              </div>
              <div class="hc-item-box-2 right">
                <span class="icon without-bg"><i class="text-default fa fa-bullhorn"></i></span>
                <div class="body">
                  <h4 class="title">Inve et ita</h4>
                  <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
                  <div class="separator-3"></div>
                </div>
              </div>
              <div class="hc-item-box-2 right">
                <span class="icon without-bg"><i class="text-default fa fa-umbrella"></i></span>
                <div class="body">
                  <h4 class="title">Labore et dolore magna aliqua</h4>
                  <p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices.</p>
                  <div class="separator-3"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="hc-item-box-2">
                <span class="icon without-bg"><i class="text-default fa fa-snowflake-o"></i></span>
                <div class="body">
                  <h4 class="title">Lorem dolor sit</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
                  <div class="separator-2"></div>
                </div>
              </div>
              <div class="hc-item-box-2">
                <span class="icon without-bg"><i class="text-default fa fa-cogs"></i></span>
                <div class="body">
                  <h4 class="title">Unt in culpa qui</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
                  <div class="separator-2"></div>
                </div>
              </div>
              <div class="hc-item-box-2">
                <span class="icon without-bg"><i class="text-default fa fa-star-o"></i></span>
                <div class="body">
                  <h4 class="title">Quis harum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
                  <div class="separator-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    
    </div>